.truvor__full-banner {
  display: block;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
  }

  &__inner {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    .container-fluid {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__text {
      margin-left: 280px;

      &--right {
        margin-left: auto;
        width: 40%;
      }
    }
  }

  &__title {
    color: #fff;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.1;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__text {
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 15px;
  }

  &__footer-link {
    padding-top: 15px;

    .truvor__btn-blue {
      width: 234px;
    }
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.truvor__btn-blue {
  background: #09214D;
  height: 48px;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.truvor__carusel-catalog {
  position: relative;
  background-color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
  margin-bottom: 20px;

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(-180deg, #F2F3F4, #F2F3F4), #FFFFFF;
    height: 820px;
    text-decoration: none;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }

    &__title {
      position: absolute;
      z-index: 10;
      top: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      height: 60px;
      margin-top: -30px;
      font-size: 34px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      text-shadow: 0px 0px 30px #000000;
    }
  }

  &__nav {
    position: absolute;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: transparent;
    cursor: pointer;
    margin-top: -24px;
    top: 50%;

    &.button-next {
      right: 15px;
    }

    &.button-prev {
      left: 15px;
    }
  }

  .pagination {
    display: none;
  }
}

.fpad20 {
  padding-bottom: 20px;
}

.truvor__brends {
  padding-top: 100px;
  background: #F2F3F4;
  padding-bottom: 30px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 176px;
    background-color: #fff;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff;

    &:hover {
      border: 1px solid #AFAFAF;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;
    }
  }
}

.tpad30 {
  padding-top: 30px;
}

.w29 {
  width: 290px;
}

.truvor__collection {
  border-bottom: 1px solid #A5A5A5;

  &__img {
    display: block;
  }

  &__desc {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
  }
}

h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #202123;
  margin-bottom: 40px;
}

p {
  font-size: 20px;
  line-height: 180%;
  color: #5A5D62;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.fpad30 {
  padding-bottom: 30px;
}

.tpad50 {
  padding-top: 50px;
}

.fpad50 {
  padding-bottom: 50px;
}

.truvor__benefit {
  padding: 0 50px;
}

.truvor__benefit__item {
  text-align: center;

  &__ico {
    height: 93px;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #6F6F6F;
  }
}

.truvor__page__header {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;

  h1 {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #202123;
    text-transform: uppercase;
  }
}

.truvor__category-list {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 40px;
}

.truvor__category-list__item {
  position: relative;
  height: 450px;
  background: #F2F3F4;
  overflow: hidden;

  &--big-pc {
    grid-row: span 2;
    height: 100%;
  }

  &__wrap {
    text-decoration: none;
    display: block;
    position: relative;
    height: 100%;

    &__img {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      img {
        display: block;
      }
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    padding: 50px;
    top: 0;
    left: 0;
    width: 100%;

    h3 {
      font-weight: 400;
      font-size: 40px;
      line-height: 42px;
      margin-bottom: 20px;
      color: #202123;
      padding: 0;
    }

    span {
      display: block;
      font-size: 18px;
      line-height: 26px;
      color: #77797E
    }
  }
}

.truvor__brends-slider {
  max-width: 1180px;
  margin: 0 auto 30px;
  position: relative;

  .truvor__brends__item {
    height: 120px;
    padding: 10px;
    border: 1px solid #DEDFE0;
    background-color: #fff;

    &.active {
      border: 1px solid #09214D;
    }
  }
}

.truvor__page__cat-desc {
  max-width: 940px;
  margin: 0 auto 60px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.truvor__page__sub-menu-catalog {
  border-bottom: 1px solid #B8B9BA;
  margin-bottom: 40px;

  .swiper {
    margin-bottom: -1px;
  }

  .swiper-slide {
    width: auto;

    .sub-menu-catalog-item {
      display: block;
      white-space: nowrap;
      height: 34px;
      line-height: 24px;
      position: relative;
      padding: 0 5px;
      font-size: 16px;
      text-decoration: none;
      color: #77797E;
      transition: all 0.3s ease-in-out;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: #09214D;
        transition: all 0.3s ease-in-out;
        width: 0;
      }

      &.active,
      &:hover {
        color: #09214D;

        &::after {
          width: 100%;
        }
      }
    }

  }
}

.truvor__filter-pc {
  flex-grow: 1;

  li {
    padding: 0 20px 20px 0;
  }

  &__item {
    display: inline-flex;
    white-space: nowrap;
    align-items: center;
    padding: 10px 30px;
    height: 48px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #B8B9BA;
    color: #202123;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    svg {
      margin-right: 10px;
    }

    &.active,
    &:hover {
      color: #09214D;
      border-color: #09214D;

      svg {
        path {
          stroke: #09214D !important;
        }
      }
    }
  }
}

.truvor__sort-btn {
  height: 48px;
  width: 194px;
  min-width: 194px;
  border-color: #B8B9BA !important;
  color: #202123 !important;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6H4' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M20 12H8' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square'/%3E%3Cpath d='M20 18H12' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  }
}

.dropdown-menu {
  width: 100%;
  background: #FFFFFF;
  border-radius: 0;
  border: 1px solid #F2F3F4;
  box-shadow: 0px 5px 20px rgba(9, 33, 77, 0.1);
  padding: 0;

  a {
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #202123;
  }
}

.fpad10 {
  padding-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.fpad50 {
  padding-bottom: 50px;
}

.truvor__products__item {
  position: relative;

  &__images {
    background-color: #F2F3F4;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    user-select: none;
  }

  &__label {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 8px 17px;
    background: #FFFFFF;
    font-size: 16px;
    line-height: 120%;
    color: #202123;
    white-space: nowrap;
  }
}

.truvor__products__favorite {
  position: absolute;
  z-index: 20;
  top: 20px;
  right: 20px;
  display: block;
  color: transparent;

  &.active {
    svg {
      path {
        fill: #09214D !important;
      }
    }
  }

  &:not(.active) {
    svg {
      path {
        stroke: #202123;
        stroke-width: 1.5;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
  }
}

.slider_products__pagination {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5px;

  .swiper-pagination-bullet {
    margin: 0 3px 6px;
    width: calc(20% - 10px);
    height: 4px;
    background: #DEDFE0;

    &-active {
      background: #09214D !important;
    }
  }
}

.truvor__products__item__footer {
  text-decoration: none;
  display: block;
  padding: 18px 0 0;

  h2 {
    margin: 0 auto 15px;
    max-width: 400px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #09214D;
  }
}

.truvor__products__item__price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;

  .old-price {
    position: relative;
    margin: 0 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #77797E;

    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 13px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #77797E;
    }
  }

  .price {
    margin: 0 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #09214D;
  }
}

.truvor__products__item__props {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 5px;
  color: #77797E;
}

.rouble {
  font-family: 'rouble';
}

.truvor__pagination {
  padding-top: 20px;
  padding-bottom: 30px;

  &__pages {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #5A5D62;
    padding-bottom: 15px;

    b {
      color: #202123;
      @include medium_fonts;
      font-weight: 400;
    }
  }

  &__progress {
    width: 180px;
    margin: 0 auto 15px;
    position: relative;
    height: 2px;
    background-color: #DEDFE0;

    &__val {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      height: 2px;
      background: #09214D;
      transition: all 0.3s ease-in-out;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    gap: 10px;
    border: none;
    width: 229px;
    height: 48px;
    margin: 0 auto;
    background: #09214D;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }
}

.modal-content-filter {
  background-color: #fff;
  padding: 50px;
  border-radius: 0;
  border: none;

  .h2 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #77797E;
    padding-bottom: 10px;
    margin: 0;
  }
}

.modal-content-filter__nav {
  justify-content: center;
  min-height: 130px;
  padding-bottom: 20px;

  li {
    padding: 0 10px 20px;

    .nav-link {
      background: #fff;
      padding: 12px 60px;
      display: inline-flex;
      align-items: center;
      border: 1px solid #B8B9BA;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      line-height: 24px;
      color: #202123;

      &.active {
        border: 1px solid #09214D;
      }
    }
  }
}

.form-control {
  background: #FFFFFF;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  height: 48px;
  border: 1px solid #DEDFE0;
  width: auto;

  &.w-14 {
    width: 140px;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #202123;
    color: #202123;
  }
}

.modal-content-filter__params {
  padding: 30px 0;
  min-height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: self-start;

  &__item {
    margin: 5px 10px;
    display: flex;
    align-items: center;

    &__label {
      padding: 0 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      color: #77797E;
    }
  }
}

.fpad40 {
  padding-bottom: 40px;
}

.active-filter-btn {
  cursor: pointer;
  border: none;
  display: inline-flex;
  align-items: center;
  background: transparent;
  justify-content: center;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #09214D;

  svg {
    margin-right: 15px;
  }

  &:hover {
    svg {
      animation: rotate-btn 1s linear infinite;
    }
  }
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-close {
  padding: 0;
  width: 48px;
  height: 48px;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 2L2 50' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M2 2L50 50' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  opacity: 1;
  background-size: contain;
  border-radius: 0;
}

.custom-checkbox {
  display: block;
  cursor: pointer;

  input {
    display: none;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    min-height: 60px;
    border: 1px solid #B8B9BA;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #5A5D62;
  }

  input:checked + span {
    border-color: #09214D;
    color: #09214D;
  }
}

.modal-content-filter__desc {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;
  padding-top: 10px;
  padding-bottom: 20px;
}

.fonts-16 {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #09214D;
}

.modal-content-filter__row-params {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;

  &__label {
    width: 80px;
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
  }
}

.modal-content-filter__row-params .modal-content-filter__row-params__item {
  width: 100px;
  padding: 0 10px 10px;

  .custom-checkbox {
    width: 100%;

    .custom-checkbox__text {
      width: 100%;
      text-align: center;
    }
  }
}

.custom-checkbox-color {
  width: 150px;
  cursor: pointer;

  &__wrap {
    height: 134px;
    width: 100%;
    padding: 20px 10px 10px;
    border: 1px solid #fff;
    display: block;

    &__color {
      width: 80px;
      height: 60px;
      border: 1px solid #B8B9BA;
      margin: 0 auto;
      display: block;
    }

    &__name {
      display: block;
      text-align: center;
      padding-top: 10px;
      color: #202123;
      font-size: 16px;
      line-height: 24px;
    }
  }

  input {
    display: none;

    &:checked + .custom-checkbox-color__wrap {
      border: 1px solid #09214D;
    }
  }
}

.truvor__filter-mob,
.modal-content-filter__wrap__footer__header {
  display: none;
}

.truvor__product__images .swiper-wrapper {
  display: block;
  height: auto;

  .swiper-slide {
    padding-bottom: 40px;
  }
}

.truvor__product__right {
  padding-left: 30px;
  padding-top: 30px;
}

.truvor__product__images .truvor__carusel-catalog__nav {
  display: none;
}

.h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
  padding: 0;
  color: #202123;
}

.truvor__breadcrumbs {
  padding-bottom: 30px;
  align-items: center;

  li:not(:last-child) {
    margin-right: 10px;
  }

  .sep {
    width: 12px;
    height: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 2.5L8 6L4.5 9.5' stroke='%239B9DA2' stroke-width='1.5' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    background-position: 50% 50%;
    background-size: 12px auto;
    background-repeat: no-repeat;
  }

  a, span {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #9B9DA2;
    text-decoration: none;
    display: block;
  }
}

.truvor__product {
  &__price {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    .old-price {
      margin-right: 20px;
      font-size: 24px;
      line-height: 32px;
      color: #77797E;
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #77797E;
      }
    }

    .price {
      font-size: 24px;
      line-height: 32px;
      color: #09214D;
    }
  }

  &__btns {
    display: flex;

    &__col-adv {
      position: relative;
      width: 69px;
      padding-right: 15px;
      min-width: 69px;

      .truvor__products__favorite.single {
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        border: 1px solid #DEDFE0;
      }
    }
  }
}

.truvor__link-size {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  text-decoration: none;

  span {
    font-size: 16px;
    line-height: 20px;
    color: #09214D;
    border-bottom: 1px dotted #09214D;
  }
}

.mr-10 {
  margin-right: 10px;
}

.truvor__product__desc__item__title {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #E4E6EA;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #09214D;
  margin-bottom: 15px;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 18px auto;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.53033 0.96967L2 0.43934L0.93934 1.5L1.46967 2.03033L2.53033 0.96967ZM9 8.5L8.46967 9.03033L9 9.56066L9.53033 9.03033L9 8.5ZM16.5303 2.03033L17.0607 1.5L16 0.43934L15.4697 0.96967L16.5303 2.03033ZM1.46967 2.03033L8.46967 9.03033L9.53033 7.96967L2.53033 0.96967L1.46967 2.03033ZM9.53033 9.03033L16.5303 2.03033L15.4697 0.96967L8.46967 7.96967L9.53033 9.03033Z' fill='%2377797E'/%3E%3C/svg%3E%0A");
    margin-left: auto;
  }

  &:not(.collapsed) {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.truvor__product__desc__item__body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.truvor__product__har {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 40%;
    padding-right: 10px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    color: #5A5D62;
    font-weight: 400;
  }

  dd {
    width: 60%;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    color: #202123;
  }
}

.truvor__text,
.truvor__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5A5D62;
}

.truvor__text p {
  margin: 0;
  padding-bottom: 10px;
}

.modal-dialog-right {
  margin: 0 0 0 auto;
  max-width: 40vw;

  .modal-content {
    border: none !important;
    min-height: 100vh;
    border-radius: 0 !important;

    .truvor__modal-add {
      width: 600px;
      position: relative;
      padding: 150px 80px 50px;

      .btn-close {
        position: absolute;
        z-index: 10;
        top: 15px;
        right: 15px;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2L2 14' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M2 2L14 14' stroke='%2377797E' stroke-width='1.5' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
      }

      &__title {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 30px;
        color: #77797E;
      }

      .modal-content-filter__row-params {
        margin: 0 -5px;
        justify-content: flex-start;

        &__label {
          padding: 0 5px;
          width: 100%;
          height: 26px;
          margin-bottom: 15px;
        }

        .modal-content-filter__row-params__item {
          width: 20%;
          padding: 0 5px 10px;
        }
      }

      &__body {
        margin: 0 -80px 30px;
        padding: 15px 80px;
        position: relative;
        background-color: #F3F3F3;

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 11;
          top: 0;
          left: 100%;
          width: 40vw;
          height: 100%;
          background-color: #F3F3F3;
        }

        &__caption {
          font-size: 14px;
          line-height: 22px;
          color: #202123;
          padding-bottom: 20px;
        }

        &__item {
          padding-bottom: 15px;

          &__label {
            font-size: 16px;
            line-height: 24px;
            color: #77797E;
          }

          &__val {
            font-size: 18px;
            line-height: 24px;
            color: #000000
          }
        }
      }
      &__footer {
        .truvor__btn-blue {
          width: 100%;
          margin-bottom: 30px;
          height: 56px;
          &:disabled {
            background: #F2F3F4 !important;
            border: 1px solid #DEDFE0 !important;
            color: #9B9DA2;
          }
        }
      }
    }
  }
}
.truvor__btn-blue-border {
  display: inline-flex;
  align-items: center;
  height: 56px;
  background: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #09214D;
  justify-content: center;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #202123;
}
.mb-50 {
  margin-bottom: 50px;
}

.truvor__lk {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
.truvor__lk__nav {
  overflow: visible;
  .nav {
    border-bottom: 1px solid #D5D5D5;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
  }
}

.truvor__lk__nav__item {
  a {
    display: inline-flex;
    align-items: center;
    padding: 0 30px 20px;
    height: 50px;
    color: #666;
    position: relative;
    svg {
      margin-right: 20px;
    }
    &:hover {
      color: #09214D;
    }
  }
  &.active a {
    color: #09214D;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 11;
      top: 100%;
      left: 0;
      width: 100%;
      height: 6px;
      background: #09214D;
    }
  }
}
.truvor__lk__desc {
  padding: 40px 0;
  background: #F3F3F3;
  margin-bottom: 40px;
  text-align: center;
  font-size: 22px;
  line-height: 140%;;
}
.truvor__lk__order-nav {
  padding-bottom: 40px;
}
.truvor__lk__order-info {
  margin-bottom: 36px;
  padding: 45px 70px 35px 70px;
  position: relative;
  border: 1px solid #CDCFD1;
  &__number {
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #09214D;
  }
}
.truvor__lk__order-info__header {
  &__row {
    display: flex;
    align-items: center;
  }
  &__col1 {
    width: 265px;
    padding-right: 10px;
    min-width: 265px;
    span {
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
      color: #202123;
    }
  }
  &__col2 {
    width: 600px;
    span {
      font-size: 22px;
      line-height: 24px;
      color: #202123;
    }
  }
}
.truvor__lk__order-info__header__row--first {
  padding-right: 50px;
}
.fpad15 {
  padding-bottom: 15px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}
.form-control {
  background: #FFFFFF;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  display: block;
  width: 100%;
  font-size: 24px;
  line-height: 27px;
  color: #000000;
  &:hover,
  &:focus {
    border: 1px solid #D5D5D5;
    outline: none;
  }
  &::placeholder {
    opacity: 1;
    color: #666;
  }
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  padding-right: 30px;
  background-image: none !important;
  border-color: #BB1717;
}
.invalid-feedback {
  font-weight: 400;
  font-size: 22px !important;
  line-height: 25px !important;
  letter-spacing: 0.02em;
  color: #BB1717;
  padding-top: 14px !important;
  margin: 0 !important;
}
.truvor__form__pass-col {
  width: calc(50% - 50px);
}
.truvor__form__footer{
  border-top: 1px solid #D5D5D5;
  padding-top: 50px;
}
.truvor__form__submit-col {
  margin: 0 auto;
  max-width: 565px;
}
.truvor__btn-blue.h-66 {
  height: 66px;
}
.tpad20 {
  padding-top: 20px;
}
.custom-checkbox-form {
  display: block;
  position: relative;
  input {
    display: none;
    &:checked + span {
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 11;
        top: 9px;
        left: 4px;
        width: 14px;
        height: 14px;
        background: #09214D;
      }
    }
  }
  span {
    display: block;
    position: relative;
    padding-left: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    a {
      color: #000000;
      text-decoration: underline;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 5px;
      left: 0;
      width: 22px;
      height: 22px;
      background: #FFFFFF;
      border: 1px solid #09214D;
    }
  }
}
.truvor__lk__nav__item a {
  white-space: nowrap;
}
.order-history-info {
  width: 100%;
  padding-bottom: 24px;
  &:not(:last-child) {
    margin-bottom: 24px;
    border-bottom: 1px solid #cdcfd1;
  }
  &__left {
    display: flex;
  }
  &__img {
    border: 1px solid #CDCFD1;
    min-width: 204px;
    height: 290px;
    width: 204px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    img  {
      display: block;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      width: auto;
      object-fit: contain;
    }
  }
  &__desc {
    width: 200px;
    flex-grow: 1;
    padding-left: 67px;
    padding-top: 20px;
  }
  &__title {
    font-size: 20px;
    line-height: 28px;
    min-height: 115px;
    padding-bottom: 15px;
    color: #09214D;
  }
  &__har {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    dt {
      font-size: 18px;
      line-height: 20px;
      padding-bottom: 15px;
      margin: 0;
      font-weight: 400;
      width: 40%;
      color: #202123;
      padding-right: 10px;
    }
    dd {
      font-size: 20px;
      line-height: 20px;
      width: 60%;
      flex-grow: 1;
      color: #202123;
      padding-bottom: 15px;
    }
  }
  &__right {
    padding-top: 40px;
  }
  &__cost {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #09214D;
    display: block;
    padding-bottom: 30px;
    padding-top: 8px;
  }
  &__cost-old {
    position: relative;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #C2C2C2;
    display: block;
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      top: 16px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #C2C2C2;
    }
  }
  &__quantity {
    max-width: 130px;
    width: 100%;
    height: 48px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 46px;
    font-size: 18px;
    color: #393D46;
    border: 1px solid #CDCFD1;
  }
}
.truvor__lk__order-info__label-top {
  border-top: 1px solid #999999;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-top: 15px;
  span {
    font-size: 15px;
    line-height: 17px;
    color: #09214D;
  }
}
.order-history-info__mob-label {
  display: none;
}
.truvor__lk__order-nav {
  .nav-link {
    width: 215px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0;

    background: #FFFFFF;
    border: 1px solid #999999;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &.active {
      background: #FFFFFF;
      border-color: #09214D;
      color: #09214D;
    }
  }
}
.truvor__lk__order-info__accordion-button {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 40px;
  padding-right: 20px;
  height: 30px;
  cursor: pointer;
  span {
    font-size: 24px;
    line-height: 30px;
    color: #35486C;
    &.open {
      display: none;
    }
    &.close {
      display: block;
    }
  }
  &.collapsed {
    .close {
      display: none;
    }
    .open {
      display: block;
    }
    &::after {
      transform: rotate(45deg);
    }
  }
  &::after {
    content: "";
    display: block;
    transition: all 0.3s ease-in-out;
    border-right: 1.5px solid #35486C;
    border-bottom: 1.5px solid #35486C;
    transform: rotate(-45deg);
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    margin-top: -5px;
  }
}
.truvor__btn-blue:hover,
.truvor__btn-blue:focus {
  color: #fff;
}

.truvor__lk__sale {
  padding: 0 50px;
  &__text {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 24px;
    text-align: center;
    color: #000000;
  }
  &__wrap {
    border: 1px solid #999999;
    padding: 30px 70px;
    margin-bottom: 30px;
    &__row {
      display: flex;
      padding: 8px 0;
    }
  }
  &__label {
    font-size: 20px;
    line-height: 40px;
    flex-grow: 1;
    color: #333333;
  }
  &__value {
    width: 180px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #09214D;
  }
  &__progress {
    display: flex;
    padding-bottom: 25px;
    justify-content: space-between;
    &__item {
      width: 33%;
      position: relative;
      padding-top: 65px;
      padding-bottom: 65px;
      &--last {
        & .truvor__lk__sale__progress__cost,
        & .truvor__lk__sale__progress__percentages {
          left: auto;
          margin-left: 0;
          right: 0;
          text-align: right;
        }
      }
    }
    &__cost,
    &__percentages {
      width: 180px;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 100%;
      margin-left: -91px;
      text-align: center;
      height: 40px;
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      color: #09214D;
    }
    &__percentages {
      margin-top: 80px;
    }
    &__line {
      background: #C4C4C4;
      border-radius: 5px;
      height: 10px;
      overflow: hidden;
      position: relative;
      div {
        background: #09214D;
        border-radius: 5px;
        height: 10px;
        overflow: hidden;
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
      }
    }
  }
  &__text2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    padding-bottom: 20px;
    b {
      margin-left: 20px;
      font-size: 30px;
      line-height: 40px;
      color: #09214D;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  &__footer {
    max-width: 404px;
    margin: 0 auto;
    width: 100%;
  }
}
textarea.form-control {
  height: 240px;
}
.truvor__page__top-desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #202123;
  padding-bottom: 80px;
}
.truvor__page__silver-box {
  padding: 40px 0;
  background: #F9F9F9;
  border-top: 1px solid #D5D5D5;
}
.truvor__page__padding {
  padding: 0 50px;
}
.truvor__page__prim {
  text-align: center;
  &__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    margin-bottom: 10px;
  }
  &__caption {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    padding-bottom: 25px;
  }
  &__text {
    font-size: 21px;
    line-height: 25px;
    color: #6F6F6F;
  }
}
.truvor__page__delivery-calc-btn {
  width: 100%;
  max-width: 602px;
  margin: 0 auto 20px;
}
.truvor__page__callback {
  border: 1px solid #D5D5D5;
  display: flex;
  padding: 35px;
  align-items: center;
  margin-bottom: 30px;
  &__left {
    width: 45%;
    border-right: 1px dashed #D5D5D5;
    padding-right: 90px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      font-size: 34px;
      line-height: 50px;
      text-decoration: none;
      color: #202123;
    }
  }
  &__right {
    width: 55%;
    padding-left: 90px;
    font-size: 18px;
    line-height: 27px;
    color: #4E4E4E;
  }
}
.color-blue {
  color: #09214D;
}
.truvor__page__tabs-nav .nav {
  width: 100%;
  justify-content: space-around;
  li {
    width: 290px;
  }
  .nav-link {
    position: relative;
    border: none;
    background: transparent;
    text-align: center;
    border-bottom: 3px solid #fff;
    width: 100%;
    display: block;
    height: 90px;
    color: #09214D;
    font-size: 26px;
    line-height: 28px;
    span {
      display: block;
      color: #666;
    }
    &.active {
      border-bottom-color: #09214D;
      span {
        color: #09214D;
      }
    }
  }
}
.truvor__page__number-box {
  position: relative;
  padding-left: 73px;
  padding-bottom: 20px;
  padding-top: 5px;
  &__n {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #202123;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 24px;
    line-height: 1;
    color: #202123;
  }
}
.text {
  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #202123;
    margin-bottom: 30px;
  }
  h4 {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #000;
    margin-bottom: 12px;
  }
  p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
    color: #666666
  }
  ul {
    list-style-type: none;
    margin: 0 0 12px 0;
    padding: 0;
    li {
      padding: 0 0 5px 20px;
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #666666;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 12px;
        height: 1px;
        background-color: #666;
        position: absolute;
        z-index: 1;
        top: 13px;
        left: 0;
      }
    }
  }
}