.truvor__footer {
  background: #F7F7F9;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  &__top {
    padding-bottom: 65px;
  }
  &__logo {
    display: block;
    width: 240px;
    margin: 0 auto;
    img {
      display: block;
    }
  }
}