.truvor__footer {
  background: #F7F7F9;
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  &__top {
    padding-bottom: 65px;
  }
  &__logo {
    display: block;
    width: 240px;
    margin: 0 auto;
    img {
      display: block;
    }
  }
  &__contact-info {
    padding-right: 10px;
    padding-bottom: 50px;
    .tel,
    & .mail{
      font-size: 18px;
      line-height: 26px;
      text-decoration: none;
      color: #202123;
      @include demi_fonts;
    }
    span {
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: #77797E;
    }
  }
  &__soc {
    width: 128px;
    li {
      width: 50%;
      padding-bottom: 20px;
    }
  }
}
.truvor__soc-item {
  display: flex;
  align-items: center;
  height: 34px;
  width: 34px;
  justify-content: center;
  text-decoration: none;
  svg {
    color: #202123;
  }
}
.mobail-collapsed {
  display: none;
}
.truvor__footer__nav {
  padding-bottom: 50px;
  padding-right: 30px;
  &__caption {
    display: flex;
    padding-bottom: 20px;
    position: relative;
    a {
      display: block;
      font-size: 18px;
      line-height: 26px;
     @include demi_fonts;
      color: #202123;
      text-decoration: none;
    }
  }
  &__submenu {
    li {
      padding-bottom: 10px;
      a {
        display: block;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: #5A5D62;
      }
    }
  }
  &__submenu {
    display: block !important;
  }

}
.fpad20 {
  padding-bottom: 20px;
}