body {
  font-family: 'Franklin Gothic Book';
}
.truvor {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.row {
  --bs-gutter-x: 20px !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.row > * {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ico {
  color: #666;
}

.ico2 {
  color: #202123;
}

.truvor__header {
  padding-top: 13px;
  padding-bottom: 13px;
  border-bottom: 1px solid #E4E6EA;
  position: relative;
  z-index: 100;
  &__row {
    width: 100%;
  }
  &__dropdown-menu {

    position: static;
  }
  &__row-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
  }
  &__nav-page {

    li   {
      padding: 0 15px;
      a {
        font-size: 16px;
        line-height: 24px;
        color: #202123;
        text-decoration: none;
      }
    }
  }
  &__callback {
    margin-right: 40px;
  }
  &__phone {
    margin-right: 40px;
    font-size: 18px;
    line-height: 26px;
    color: #666;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;
  }
  &__logo {
    margin-right: 20px;
  }
}
.truvor__header__right {
  margin-right: 30px;
  li {
    margin-right: 20px;
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      text-decoration: none;
      .count {
        background: #EF7C00;
        position: absolute;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        border: 2px solid #FFFFFF;
        border-radius: 30px;
        color: #fff;
        font-size: 12px;
        line-height: 16px;
        justify-content: center;
        text-align: center;
        top: -10px;
        left: 10px;
        @include medium_fonts;
      }
    }
  }

}
.truvor__header__search-mob {
  display: none;
}
.btn-border {
  background: transparent;
  height: 44px;
  border: 1px solid #666666;
  padding: 10px 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 16px;
  line-height: 140%;
}
.mr-5 {
  margin-right: 5px;
}
.border-ico {
  background: #FFFFFF;
  border: 1px solid #666666;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ico-burger {
  margin-right: 10px;
  svg {
    display: block;
  }
}
.truvor__header__dropdown-menu__label {
  display: none;
}
.truvor__header__menu {
    width: 100vw;
    left: 0;
    margin: 1px 0 0 !important;
    top: 100%;
    position: absolute;
    border-radius: 0;
    padding: 0 !important;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(9, 33, 77, 0.05);
}
.truvor__header__dropdown {
  min-height: 335px;
  padding-top: 40px;
  padding-bottom: 30px;
  &__wrap {
    width: 100%;
    max-width: 1400px;
    padding: 0 40px;
    margin: 0 auto;
  }
  &__col1 {
    width: 240px;
    padding-right: 30px;
  }
  &__col2 {
    width: 350px;
  }
  &__col3 {
    width: 260px;
    margin-left: 100px;
  }
  .accordion-item {
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    .accordion-header {
      display: block;
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      @include medium_fonts;
      color: #202123;
      text-decoration: none;
    }
    .truvor__header__dropdown__menu {
      li {
        padding-top: 10px;
        a {
          font-size: 16px;
          line-height: 24px;
          color: #5A5D62;
          text-decoration: none;
        }
      }

    }
  }
  &__footer {
    display: none;
  }
}
.truvor__header__banner {
  display: block;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  &__inner {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 35px;
    color: #fff;
    font-size: 14px;
    line-height: 140%;
  }
  &__title {
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
  }
}
.truvor__header__dropdown__mob-bottom,
.mobail-collapsed-filter {
  display: none;
}
.container-fluid {
  max-width: 1760px;
}
.truvor__header .container-fluid {
  max-width: 100%;
}
.btn-close:focus,
.btn-close:active {
  outline: none;
  box-shadow: none;
}
.mr-15 {
  margin-right: 15px;
}
.fonts-18 {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.truvor__page__calc-delivery__table {
  border-top: 1px solid #D5D4CF;
  border-left: 1px solid #D5D4CF;
  border-right: 1px solid #D5D4CF;
  margin-bottom: 20px;
  td {
    height: 60px;
   vertical-align: middle;
    background: #FAFAFA;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    border-bottom: 1px solid #D5D4CF;
    padding-top: 5px;
    padding-bottom: 5px;
  }

}
.truvor__page__calc-delivery__logo {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 15%;
}
.truvor__page__calc-delivery__price {
  border-left: 1px solid #D5D4CF;
  width: 15%;
  text-align: center;
}
.truvor__page__calc-delivery__date {
  border-left: 1px solid #D5D4CF;
  width: 15%;
  text-align: center;
}
.truvor__page__calc-delivery__title {
  width: 55%;
}
.caption-box {
  text-align: center;
  h2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #202123;
  }
}
